[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
mido = "==1.2.9"
python-rtmidi = "*"
pyautogui = "*"
pynput = "*"
flask = "*"
requests = "*"
gevent = "*"

[requires]
python_version = "3.7"
