[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-rtmidi = "*"
pynput = "*"
flask = "*"
requests = "*"
gevent = "*"
rtmidi = "*"

[requires]
python_version = "3.7"
